html,
body,
div,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-family: "Open Sans", Helvetica, Verdana, sans-serif;
  background-color: #f0f0f0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  padding: 20px;
  min-width: 300px;
}

.links-container{
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
}

.links-container a{
  /* text-align: center; */
  text-decoration: none;
  color: #222;
  width: auto;
  height: auto;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}

.links-container a img{
  width: 20px;
  height: 20px;
}

.links-container a span{
  margin-left: 3px;
}

.links-container a:hover{
  color: #0abe51;
  transform: scale(1.05,1.05);
}

.share-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.share-container a{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.share-container a span{
  margin-left: 3px;
}

.share-container a img{
  width: 25px;
  height: 25px;
}

.links-container p{
  width: 200px;
  height: auto;
  margin: 0px;
  margin-bottom: 7px;
  margin-left: -3px;
  font-weight: bold;
  font-size: 15px;

}

@media (min-width: 480px) {
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.top-bar {
  width: 100%;
  height: 25px;
  background: #4caf50;
  text-align: center;
  color: white;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 50px;
  max-width: 60px;
  height: 22px;
}

@media (min-width: 480px) {
  .top-bar {
    padding: 20px 0;
  }

  .logo {
    max-width: 75px;
  }
}

.col-25 {
  float: left;
  width: 100%;
}

.col-75 {
  float: left;
  width: 100%;
  /* text-align: center; */
}

@media (min-width: 480px) {
  .col-25 {
    width: 25%;
  }

  .col-75 {
    width: 75%;
    text-align: left;
  }
}

.description {
  font-size: smaller;
  display: none;
}

@media (min-width: 480px) {
  .description {
    display: inline-block;
  }
}

hr {
  border: 1px solid #f0f0f0;
  margin: 10px 0;
}

.checkbox-container{
  width: 83%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: -45px;
}

.checkbox-items{
  width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    right: 40px;
}

.checkbox-container p{
  width: auto;
  height: auto;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-left: 3px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-right: 3px;
}

.switch-margins {
  margin: 5% 0 5% 40%;
}

@media (min-width: 480px) {
  .switch-margins {
    margin: 10% 0 0 25%;
  }

  .switch .text-center {
    margin: 5% 0 0 20%;
    text-align: left;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4caf50;
}

input:checked + .slider::before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child + html .clearfix { zoom: 1; } /* IE7 */

.thanks {
  text-align: center;
  margin-top: 20px;
  font-size: 150%;
  display: none;
}

@media (min-width: 480px) {
  .thanks {
    display: block;
  }
}

.alert {
  padding: 15px 30px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 75%;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.attention-grabber {
  border: 5px dashed #4caf50;
  padding: 20px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.share-facebook {
  margin: 4px 0 0;
  background-color: #4267b2;
  border-color: #4267b2;
  color: #fff;
  text-decoration: none;
}

.share-facebook:hover {
  text-decoration: underline;
}

.share-twitter {
  margin: 4px 0 0;
  background-color: #1da1f2;
  border-color: #1da1f2;
  color: #fff;
  text-decoration: none;
}

.share-twitter:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

#ninja-btn{
  width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#CO2okTopBarCTA {

  width: 100%;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

}

.confirmButt
{

    border: 2px solid;
    border-color: #11d073;
    border-radius: 12px;
    background: #fff;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50px;
    box-sizing: border-box;

}

.confirmButt div
{

  text-align: center;
   width: 130%;
   font-size: 27px;
   color: #606468;

}

.confirmButt:hover div
{

   color: #fff;

}

.confirmButt img
{

   width: 80px;
   height: 30px;
   position: relative;
   top: 2px;
   right: 12px;
}

.confirmButt:hover
{

  background: linear-gradient(#1defac 10.09%,#11d071 51.05%,#10cc6b 56.81%,#05b139 100%);

}

.topbarActivatedInfo
{

   text-align: left;
   font-size: 13px;
   width: 100%;
   font-family: Helvetica, Arial, Verdana, sans-serif !important;
   text-align: center;
   font-weight: 700;
   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: center;

}

.confirmButt:hover img
{

  transition: transform 0.2s linear 0s;
  transform: scale(1.1,1.1);

}

.shopText
{

   width: auto;
   height: auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: 0;
   position: relative;
   bottom: 1px;
   margin-top: 5px;
   margin-bottom: 5px;
   right: 3px;

}
